<div id="background1">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda corporis dolorum eveniet laboriosam nemo omnis rem unde voluptatem. Architecto atque culpa deleniti dolor, id non odit quasi quo reiciendis repellendus!</p>
</div>